html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.navWrap{
  text-align:center;
  align-content: center center;
}

.header {
  background: url(background2.jpg) no-repeat center center; 
  background-size: cover;
  height:850px;
  text-align: center; 
}

.header .container {
  position: relative;
  top: 350px;

}
.frame{
  width:100%;
  height:400px;
}
.header h1 {
  color: #fff;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase; 
}
.header h2{
  color: #fff;
  font-size: 20px;
  margin-top: 0;
  text-transform: uppercase; 

}

@media (min-width:850px) {
  .header h1 {
    font-size: 50px;
  }
}

.header p {
  color: #fff;
  font-weight: 500;
  letter-spacing: 8px;
  margin-bottom: 40px;
  margin-top: 0;
  text-transform: uppercase; 
}

.btn {
  color: #fff;
  background: #000;
  padding: 10px 40px;
  text-decoration: none; 
  transition: background .5s; 
}

.nav {
  height: 80px; 
  width: 100%;
}

.nav ul {
  height: 80px;
  list-style: none;
  margin: 0 auto; 
  padding: 0 10px;
  width:100%;
}

.nav ul li {
  color: #000000;
  display: inline-block; 
  height: 80px;
  line-height: 80px;
  list-style: none;
  font-weight: 200;
  text-align: center;
  padding: 0 10px;
  transition: background .5s; 
}

.btn:hover, .nav ul li:hover {
  cursor: pointer; 
  transition: background .5s;  
}
@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main, .jumbotron {
    padding: 0 30px;
  }

  .main img {
    width: 100%;
  }
}
.section{
  margin:0 auto;
  width:70%;
}
.section-title {
  margin-bottom: 80px;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  color: #2c3e50;
  position: relative;
}

.section-title::after {
  content: "";
  background: url(./assets/general/section-divider.png) no-repeat center center;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -110px;
  margin: 0 auto;
}

