.section-card {
    /* Add shadows to create the "card" effect */
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .section-card {
    /* Add shadows to create the "card" effect */
    height:400px;
    width: 100%;
    margin:auto auto;
    padding:10px 50px;
  }


  .section-card .comp {
    margin:20px auto; 
  }
  .comp h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase; 

  }
  .comp p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

  }
  .section-card img{
    margin:40px auto;
    float:right;
    width:50%;
    height:50%;
    border-radius: 70%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
  }

  
